<div class = "row">
	<div class = "col-sm-6 col-md-12">
		<h2>Enter Bill Totals:</h2>
		<form>
			<div class="form-group">
				<label> 
					Total Bill:	<input type="number" ng-model = "$ctrl.grandTotal" class = "form-control" />
				</label>
				<br>
				<label>
					Total Tax: <input type="number" ng-model = "$ctrl.taxTotal" class = "form-control" />
				</label>
			</div>

				<input type="submit" class="btn btn-primary" ng-click="$ctrl.submit()" value="Submit">

		</form>

	</div>
	<div class = "col-sm-6 col-md-12" ng-show = "$ctrl.billObject">

		<bill-display bill-obj = "$ctrl.billObject"></bill-display>
	
	</div>
</div>